@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&display=swap');



h1 {
	text-align: center;
	justify-content: safe center;
	font-size: 55px;
	color: blueviolet;
}

p {
	text-align: center;
	justify-content: center;
	color: black;
	font-size: 15px;
}
#gameFrame {

	background-color: black;
	height: 600px;
	width: 800px;
	border-radius: 2%;
	margin: auto;
	position: relative;
	overflow: hidden;
	cursor: crosshair;

	background-image: url(background.jpg);
	background-size: cover;
	background-position: bottom;
}

#healthBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 100%;
	background-color: orangered;
	transition: width .5s;
}

.enemy {
	display: flex;
	justify-content: center;
	align-items:  center;
	font-size: 1.25em;
	width: 150px;
	height: 225px;
	border-radius: 60%;
	position: absolute;
	background: blueviolet;
	box-shadow: inset 0 1em 1em darkgray;
	bottom: -400px;
	transition: all .5s;
}



.enemy:before {
	position: absolute;
	width: 100%;
	top: 60px;
	font-size: 1em;
	text-align: center;
	border-top: 10px double rgba(0,0,0, 0.5);

}

/*gives each enemy a gun*/
.enemy:after{
content: " o ";
position: absolute;
width: 30px;
height: 30px;
left: 5px;
bottom: 30px;

background-color: #222;
color: #555;
text-align: center;

border-radius: 15px;
border-bottom: 20px solid #111;
border-right: 2px solid brown;

transition: all .2s;
}

.enemy.showing {
	bottom: 0;
}

.enemy.shooting {
	background-color: #471515;

}

.enemy.shooting:after {
	content: " * ";
	left: 20px;
	color: lightcoral;

	font-size: 4em;
	transform: scale(2.0);

	box-shadow: 20px -10px 30px black;
}

.enemy.dead:before {
	content: "  ";
	color: #555;
}


#enemy1 { left: 5px; }
#enemy2 { left: 165px; }
#enemy3 { left: 325px; }
#enemy4 { left: 485px; }
#enemy5 { left: 645px; }


.enemy.dead {
	background-color: darkred;
	bottom: -150px;
	transform: rotate(-450deg);
}


body {
	background-color: #599499;
	color: lightcoral;
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

button{
	height: 50%;
	width: 75%;
	border-radius: 2%;
	color: #fff;
	font-family: 'Cinzel', serif;
	box-shadow: 15px 30px white;
	background-color: #9e7598;
	border: 0;
	box-shadow: none;
	font-size: 2.5em;
	letter-spacing: -2px;
	

}